body
{
    background-color: white;  
    overflow-x: hidden;
   
}

h1
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul li a
{
   text-decoration: none;
   font-size: 20px;
   padding: 5px;
   color: black;
   font-family: sans-serif;

}

nav ul li a:hover
{
   border-bottom: 2px solid red;

}

nav ul
{
    padding: 20px;
    width: 100%;
}
nav ul li
{
    list-style: none;
    display: inline-block;
}

nav 
{
    margin-top: -20px;
    width: 100%;
    padding: 0px;
}

.loginSignUp
{
    border: 2px solid black;
    width: 200px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    position: relative;
    left: 850px;
}


.loginForm
{
    background-color: #666;;
    width: 60%;
    padding: 50px;
   
    position: relative;
    left: 240px;
    top: 50px;
}
.loginForm form .SubmitLogin
{
    width: 65%;
    padding: 14px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 140px;
    
   

}
.loginForm form .SubmitLogin:hover {background-color: darkgray;}

.Shortcut
{
    width: 100%;
}
.Shortcut h3
{
    font-family:sans-serif;
    font-weight: 100;
    color: white;
    position: relative;
    top: 220px;
    font-size: 1.6em;
    text-align: center;

}

.popularTags
{
    background-color: #666;
    height: 100px;
    width: 125%;
    margin-left:-8px;
}

.popularTags h2
{
    margin-left: 10px;
}
.Shortcut a
{
    border: 3px solid white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    color: white;
    font-family: sans-serif;
    position: relative;
    top: 300px;
    left: 650px;
    width: 42%;
    font-size: 22px;

}
.loginForm form input
{
    padding: 18px;
    display: block;
    width: 88%;
    margin-left: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
}

.loginForm form input::placeholder
{
    font-size: 15px;
    border: none;
}

.loginForm form label
{
   font-size: 20px;
   font-family: sans-serif;
   margin-left:24px;
   color: white;
   padding: 1px
}

.loginForm h1
{
    text-align: center;
    font-weight: 100;
    font-size: 35px;
    font-family: sans-serif;
    color: white;
}
.loginForm h3{
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    font-family: sans-serif;
}

.intro img
{
    width: 112%;
    margin-top: -108px;
    margin-left:-80px ;
}

nav ul li a img
{
    width: 80px;
    position: relative;
    top: 30px;
    
}