body
{
    background-color: white;  
    overflow-x: hidden;
   
}

h1
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul li a
{
   text-decoration: none;
   font-size: 20px;
   padding: 5px;
   color: black;
   font-family: sans-serif;

}

nav ul li a:hover
{
   border-bottom: 2px solid red;

}

nav ul
{
    padding: 20px;
    width: 100%;
}
nav ul li
{
    list-style: none;
    display: inline-block;
}

nav 
{
    margin-top: -20px;
    width: 100%;
    padding: 0px;
}

.loginSignUp
{
    border: 2px solid black;
    width: 200px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    position: relative;
    left: 850px;
}


.loginForm
{
    background-color: #666;;
    width: 60%;
    padding: 50px;
   
    position: relative;
    left: 240px;
    top: 50px;
}
.loginForm form .SubmitLogin
{
    width: 65%;
    padding: 14px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 140px;
    
   

}
.loginForm form .SubmitLogin:hover {background-color: darkgray;}


.registerForm
{
    background-color: #666;;
    width: 60%;
    padding: 50px;
   
    position: relative;
    left: 240px;
    top: 50px;
}

.registerForm form .SubmitRegister
{
    width: 65%;
    padding: 14px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 140px;
}

.registerForm form .SubmitRegister:hover {background-color: darkgray;}



.registerForm form input
{
    padding: 18px;
    display: block;
    width: 88%;
    margin-left: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
}

.registerForm form input::placeholder
{
    font-size: 15px;
    border: none;
}

.registerForm form label
{
   font-size: 20px;
   font-family: sans-serif;
   margin-left:24px;
   color: white;
   padding: 1px
}

.registerForm h1
{
    text-align: center;
    font-weight: 100;
    font-size: 35px;
    font-family: sans-serif;
    color: white;
}
.registerForm h3{
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    font-family: sans-serif;
}


.popularTags
{
    background-color: #666;
    height: 100px;
    width: 125%;
    margin-left:-8px;
}

.popularTags h2
{
    margin-left: 10px;
}

.loginForm form input
{
    padding: 18px;
    display: block;
    width: 88%;
    margin-left: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
}

.loginForm form input::placeholder
{
    font-size: 15px;
    border: none;
}

.loginForm form label
{
   font-size: 20px;
   font-family: sans-serif;
   margin-left:24px;
   color: white;
   padding: 1px
}

.loginForm h1
{
    text-align: center;
    font-weight: 100;
    font-size: 35px;
    font-family: sans-serif;
    color: white;
}
.loginForm h3{
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    font-family: sans-serif;
}

.intro img
{
    width: 112%;
    height: auto;
    margin-top: -129px;
    margin-left:-80px ;
    filter: brightness(80%);
}

.intro h3
{
    position: relative;
    top: -800px;
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
}

nav ul li a img
{
    width: 80px;
    position: relative;
    top: 30px;   
}

.community
{
    height: 100px;
    width: 100%;
    position: relative;
    top: 1150px;
    
    text-align: center;
}
.community h2
{
    margin-bottom: 50px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 34px;
}
.community img
{
   width: 10%;
}
.community a
{
    color: black;
    border: 3px solid black;
    padding: 10px;
    font-size: 22px;
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    top: -68px;
}



.newsSlide-container
{
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.slide {
    display: none;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }

  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  .text {
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }